html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.srOnly { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* colours:
Pale Lilac: #E3E4EA
Reddish Orange: #E85B26
Light Grey: #F4F4F4
Light Navy: #186684
Dark Grey: #1F2022 */

/*  font-family: 'Catamaran', sans-serif;
    font-family: 'Nova Flat', cursive; */

/* GLOBAL STYLES */

* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h1 {
    color: #186684;
    font-size: 8.5rem;
    /* width: 100px; */
    background-color: #f4f4f4c9;
    /* position: relative;
    top: 120px;
    left: 550px; */
    font-family: 'Nova Flat', cursive;
    display: inline-block;
    width: 320px;
    position: absolute;
    top: 270px;
    right: 450px;
    font-weight: lighter;

}

p {
    margin-bottom: 20px;
    font-family: 'Catamaran', sans-serif;
    font-size: 2rem;
}

h2 {
    font-family: 'Nova Flat', cursive;
    color: #186684;
    font-size: 4.2rem;
    padding-bottom: 15px;
}

.readMore {
    font-family: 'Nova Flat', cursive;
    color: #186684;
    border: 2px solid #E85B26;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.readMore:hover,
.readMore:focus {
    background-color: #186684;
    color: white;
}

.wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

/* HEADER STYLES */

header {
    background-image: url(./assets/image-1@2x.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
    margin-bottom: 0;
}

i.fa-bars {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 3rem;
    visibility: hidden;
}

#check {
        display: none;
    }

.menu {
    display: inline-block;
    color: #186684;
    font-family: 'Nova Flat', cursive;
    font-size: 1.5rem;
    padding: 10px;
}


.socialIcons {
    color: #E85B26;
    float: right;
    line-height: 3rem;
    font-size: 2rem;
    padding-right: 30px;
    position: absolute;
    top: 300px;
    right: 0;
}

.socialIcons li:hover,
.socialIcons li:focus {
    color: black;
}

header nav {
    text-align: center;
    padding-top: 20px;   
}

.redOne {
    color: #E85B26;
}

/* SPECIALIZE SECTION */

.leftContent,
.rightPhoto {
    float: right;
    width: 50%;
}

.rightContent,
.leftPhoto {
    float: left;
    width: 50%;
}

.leftContent {
    padding: 100px 50px 135px 50px;
    line-height: 1.5;
}

.rightContent {
    padding: 100px 50px 100px 50px;
    line-height: 1.5;
}

/* GIVING BACK SECTION */

.givingBack {
    background-color: #F4F4F4;
    padding: 50px 0;
    line-height: 1.5;
}

.givingBack img {
    float: left;
    width: 25%;
    padding-right: 40px;
    margin-left: 100px;
}

/* PRODUCT/COMMUNITY/REACH OUT SECTION */

.moreIcons {
    background-image: url(./assets/image-5@2x.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
    font-family: 'Catamaran', sans-serif;
    font-size: 3rem;
    color: #186684;

}

.awesomeFont {
    background-color: #f4f4f4;
    width: 500px;
    padding: 30px 20px 30px 20px;
    margin: auto;
    text-align: center;
    position: relative;
    top: 100px;
    
}


.moreIcons i {
    color: #E85B26;
    font-size: 5rem;
    padding-bottom: 15px;
}

.moreIcons li {
    list-style: none;
    display: inline-block;
    padding: 30px;
    font-weight: 700;
    font-size: 20px;
}

/* THE GRAM SECTION */

.instagram h2 {
    text-align: center;
    margin-bottom: 50px;
    padding-top: 50px;
}

.instagram li {
    float: left;
    width: 30%;
    margin: 0 10px 50px 20px;
    list-style: none;
}

.instagram li:nth-child(3n) {
    margin-right: 0;
}

.instagram li:nth-child(1) {
    margin-left: 30px;
}


/* FOOTER */

footer {
    clear: both;
    background-color: #f4f4f4;
}

footer ul li {
    display: inline-block;
    font-family: 'Nova Flat', cursive;
    font-size: 1.5rem;
    padding: 10px;
    
}

footer ul {
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
    
}

.contact,
.form {
    float: left;
    width: 50%;
}

.contact h2 {
    color: #E85B26;
    padding-left: 40px;
}

.contact p {
    width: 325px;
    padding-left: 40px;
}

.form h2 {
    color: #E85B26;
}

.form input {
    padding: 9px 14px;
    border: none;
    width: 300px;
    height: 35px;
}

.form input:active {
    background-color:  #f4f4f4;
}

.form button {
    font-family: 'Nova Flat', cursive;
    color: white;
    background-color: #186684;
    border: 2px solid #E85B26;
    padding: 5px 10px;
    text-transform: uppercase;
    font-size: 1.8rem;
    position: relative;
    top: 5px;
}

.form button:hover,
.form button:focus {
    background-color: white;
    color: #186684;
}

.credits {
    clear: both;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    background-color: black;
    color: white;
    padding: 10px;
}


/* RESPONSIVE BREAKPOINTS */

@media (max-width: 940px) {
    h1 {
        left: 350px;
    }

    .leftContent,
    .rightPhoto {
        width: 50%;
}

    .leftContent {
        padding-top: 50px;
        padding-bottom: 28px;
    }

    .rightContent,
    .leftPhoto {
        width: 50%;
    }

    .rightContent {
        padding-top: 50px;
        padding-bottom: 28px;
    }

    .givingBack {
    padding: 50px 0;
    line-height: 1.5;
}

    .givingBack img {
        
        width: 25%;
        height: 200px;
        margin-bottom: 80px;
        margin-top: 50px;
        padding-right: 40px;
        margin-left: 100px;
    }

    .instagram li {
        width: 28%;
    }

.instagram {
    margin-left: 20px;
}

}

@media (max-width: 768px) {
    .leftContent,
    .rightPhoto,
    .rightContent,
    .leftPhoto {
        width: 100%;
}

    .leftContent,
    .rightContent {
        padding-bottom: 50px;
    }

    .form button {
        width: 78%;
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    /* 
    footer nav - currently column, need row (block/inline-block)
    fix fonts
    fix content under contact */


    h1 {
        color: #186684;
        font-size: 8.5rem;
        background-color: #f4f4f4de;
        font-family: 'Nova Flat', cursive;
        display: inline-block;
        width: 320px;
        position: absolute;
        top: 275px;
        left: 80px;
        font-weight: lighter;

}
    header {
        background-position: 35%;
        background-repeat: no-repeat;
        height: 90vh;
        margin-bottom: 0;
        width: 100%;
    }
    
    i.fa-bars{
        visibility: visible;
        font-size: 3rem;
        color: #186684;
    }

    input:checked + nav {
        display: block;
    }

    #check {
        position: absolute;
        left: -100000px;
    }
    nav ul li {
        float: left;
        clear: both;
    }
    header nav {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #f4f4f4de;
        padding: 20px;
        display: none;
    }
    
    .socialIcons {
        display: none;
    }

    h2 {
        text-align: center;
    }

    .leftContent,
    .rightPhoto {
        clear: both;
        width: 100%;
}

    .rightContent,
    .leftPhoto {
        clear: both;
        width: 100%;
}

    .readMore {
        margin-left: 100px;
    }

    .givingBack .readMore {
        margin-left: 170px;
    }

    .givingBack img {
        clear: both;
        width: 100%;  
        height: 300px;
        margin: 0 0 40px 20px;
}
    .givingBack h2 {
        text-align: center;
        
    }

    .givingBack p {
        padding-left: 10px;
    }


    .moreIcons li {
        list-style: none;
        display: block;
        padding: 30px;
}


    .moreIcons {
        height: 70vh;
        font-family: 'Catamaran', sans-serif;
        font-size: 3rem;
        color: #186684;
        padding-top: 70px;
        background-position: center;
}

    .awesomeFont {
        
        width: 50%;
        padding: 0 20px 0 20px;
        margin: auto;
        text-align: center;
        position: relative;
        top: 0px;
}

    .instagram li {
        float: left;
        width: 40%;
        margin-left: 0px;
}
    .instagram li:nth-child(3n) {
        display: none;
}

    .contact,
    .form {
        clear: both;
        width: 100%;
        text-align: center;
}
    #userEmail {
        display: block;
        margin: auto;
    }
    
    .form button {
        display: block;
        margin: auto;
    }

    .form button {
        width: 62%;
        margin-bottom: 10px;
    }

    .contact p {
        padding-left: 50px;
        width: 100%;
    }

}